<footer class="footer text-center">
    <div class="container">
        {% if request.user.is_authenticated %}
        <div>
        <a href="{% url 'signout' %}">Sign Out</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'signin' %}">Sign In</a> | <a href="{% url 'createuser' %}">Sign up</a> 
        </div>
        {% endif %}
    </div><!--//container-->
</footer>