{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{{ user_info.first }}'s Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume/CV／Portfolio Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="{% static 'images/resume_logo.jpg' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles-14.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header class="header">
        <div class="top-bar container-fluid">
            <!--<div class="actions">
                <a class="btn hidden-xs" href="mailto:someone@example.com"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
                <a class="btn" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
            </div>--><!--//actions-->
            <ul class="social list-inline">
                {% if user_info.linkedin is not None %} <li><a href={{user_info.linkedin}}><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                {% if user_info.git is not none %}<li><a href={{user_info.git}}><i class="fa fa-code-fork" aria-hidden="true"></i></a></li>{% endif %}
            </ul><!--//social-->
        </div><!--//top-bar-->

        <div class="intro">
            <div class="container text-center">
                {% if user_info.picture %}
                <img class="profile-image" src="{{ user_info.picture.url }}" alt="Profile image">
                {% endif %}
                <h1 class="name">{{user_info.first}} {{user_info.last}}</h1>
                {% if user_info.tagline %}<div class="title">{{user_info.tagline}}</div>{% endif %}
                <div class="profile">
                    {% if user_info.summary %}<p>{{ user_info.summary }}</p>{% endif %}
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->

        <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    {% if user_info.email %} <li class="email"><i class="fa fa-envelope"></i><a href={{ "mailto:"|add:user_info.email }}>{{user_info.email}}</a></li>{% endif %}
                    {% if user_info.phone %}<li><i class="fa fa-phone"></i> <a href={{ "mailto:"|add:user_info.phone }}>{{user_info.phone}}</a></li>{% endif %}
                    {% if user_info.website %}<li class="website"><i class="fa fa-globe"></i><a href="#">{{user_info.website}}</a></li>{% endif %}
                </ul>
            </div><!--//container-->
        </div><!--//contact-info-->

        <div class="page-nav-space-holder hidden-xs">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav list-inline">
                        <li><a class="scrollto" href="#experiences-section">Experiences</a></li>
                        <li><a class="scrollto" href="#education-section">Education</a></li>
                        <li><a class="scrollto" href="#skills-section">Skills</a></li>
                        <li><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
                    </ul><!--//page-nav-->
                </div>
            </div><!--//page-nav-wrapper-->
        </div>

    </header><!--//header-->


    <div class="wrapper container">
        {% block education %}
        {% if education|length > 0 %}
        <section id="education-section" class="education-section section">
            <h2 class="section-title">Education</h2>

            <div class="row" style="align-items: center;">
                {% for e in education %}
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <h3 class="degree">{{e.degree_type}} in {{e.program_name}}</h3>
                        <div class="education-body"><br>
                        {{e.institution}}
                        </div><!--//education-body-->
                        <div class="time">{% if e.gpa %}{{e.gpa}}<br>{% endif %}{{e.year_started}} - {% if not e.year_completed %}Present{% else %}{{e.year_completed}}{% endif %}</div>
                        {% if e.description %}
                        <div class="desc">
                            {{e.description}}
                        </div>
                        {% endif %}
                    </div><!--//item-inner-->
                </div><!--//item-->
                {% endfor %}
            </div><!--//row-->
        </section><!--//section-->
        {% endif %}
        {% endblock %}

        {% block experience %}
        {% if experience|length > 0 %}
        <section id="experiences-section" class="experiences-section section">
        <h2 class="section-title">Work Experiences</h2>
            <div class="timeline">
            {% for e in experience %}
                <div class="item">
                    <div class="work-place">
                        <h3 class="place"><b>{{ e.title }}</b></h3>
                        {% if e.city or e.state_code %}<div class="location">{{ e.city }}, {{ e.state_code }}</div>{% endif %}
                    </div>
                    <div class="job-meta">
                        <div class="title">{{ e.company }}</div>
                        <div class="time">{{ e.start_month }}, {{ e.start_year }} - {% if not e.end_month or not e.end_year%}Present{% else %} {{e.end_month}}, {{e.end_year}} {% endif %}</div>
                    </div><!--//job-meta-->
                    <div class="job-desc">
                        <ul>
                            {% if e.b1%}<li>{{e.b1}}</li>{% endif %}
                            {% if e.b2 %}<li>{{e.b2}}</li>{% endif %}
                            {% if e.b3 %}<li>{{e.b3}}</li>{% endif %}
                            {% if e.b4 %}<li>{{e.b4}}</li>{% endif %}
                        </ul>
                    </div><!--//job-desc-->
                </div><!--//item-->
            {% endfor %}
            </div><!--//timeline-->
        </section><!--//section-->
        {% endif %}
        {% endblock %}

        {% block skills %}
        {% if skills|length > 0 %}
        <section id="skills-section" class="skills-section section text-center">
            <h2 class="section-title">Professional Skills</h2>
            <div class="top-skills">
                <h3 class="subtitle">Top Skills</h3>
                <div class="row">
                    {% for s in skills %}
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <h4 class="skill-name">{{ s.skill_name }}</h4>
                            <div class="level">{{ s.time }} year(s)</div>
                            <div class="desc">
                            {{ s.description }}
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    {% endfor %}
                </div><!--//row-->
            </div><!--//top-skills-->
<!--//other skills
            <div class="other-skills">
                <h3 class="subtitle">Other Skills</h3>
                <div class="misc-skills">
                    <span class="skill-tag">HTML5</span>
                    <span class="skill-tag">CSS3</span>
                    <span class="skill-tag">JavaScript</span>
                    <span class="skill-tag">PHP</span>
                    <span class="skill-tag">C</span>
                    <span class="skill-tag">C++</span>
                  
                    <br>
                    
                    <span class="skill-tag">Android</span>
                    <span class="skill-tag">MYSQL</span>
                    <span class="skill-tag">Firebase</span>
                    <span class="skill-tag">Git</span>
                   
                    
                    <span class="skill-tag">Angular JS</span>
                    <span class="skill-tag">IDS</span>
                </div>
            </div>
other-skills-->

        </section><!--//skills-section-->
        {% endif %}
        {% endblock %}


        {% block projects %}
        {% if projects|length > 0 %}
        <section id="portfolio-section" class="portfolio-section section">
            <h2 class="section-title">Projects</h2>

            <div class="items-wrapper isotope row">
                {% for p in projects %}
                <div class="item backend frontend col-md-4 col-xs-8 ">
                    <div class="item-inner">
                        <figure class="figure">
                            {% if p.picture %}
                            <img class="img-responsive" src="{{ p.picture.url }}" alt="" />
                            {% endif %}
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="{{ p.link }}">{{ p.title }}</a></h3>
                            <div class="meta"><u>{{ p.tech_stack }}</u><br><br>
                                {{ p.description }}
                            </div>
                            <div class="action"><a href="{{ p.link }}"></a></div>
                        </div><!--//content-->
                        <a class="link-mask" href="{{ p.link }}"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                {% endfor %}
            </div>
        </section>
        {% endif %}
        {% endblock %}

        <section id="contact-section" class="contact-section section">
            <h2 class="section-title">Shameless Plug from the Creator</h2>
            <div class="intro">
                <img class="profile-image" src="{% static 'images/me.jpeg' %}" alt="Mehul's profile image">
                <div class="dialog">
                    <p>My name is Preston Thomson and if you're reading this, thank you for checking out my project that allows you to create your own online portfolio!  
                        I'm currently working fulltime as a SWE for <a href="https://www.originwirelessai.com/" target='_blank'>Origin AI</a>
                    , a startup in the DC Metro Area.  I you would like to get in contact with me about other projects
                     feel free to email me at <a href="mailto:prestonthomson98@gmail.com">prestonthomson98@gmail.com</a>
                    If you would like to support this site and buy me a coffee &#9749;, my venmo is <a href="https://account.venmo.com/u/preston-thomson-98" target='_blank'>preston-thomson-98</a></p>
                    <p>I also want to give credit to Mehul Kothari, I used his open source project as a starting point for this one. Here is a 
                        link to his <a href="https://github.com/mehulk05" target='_blank'>Github Repo</a>.  Please check him out. Thanks Mehul!  
                    </p>
                    <ul class="social list-inline">
                            <li><a href="https://www.linkedin.com/in/preston-thomson/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://gitlab.com/prestonthomson98"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul><!--//social-->
                </div><!--//diaplog-->
            </div><!--//intro-->

        </section><!--//section-->
    </div><!--//wrapper-->



    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/renderer/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>

    <!-- custom js -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
