{% load static %}
{%load crispy_forms_tags %} 
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Experience</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume/CV／Portfolio Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'css/styles-14.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header class="header">
        <div class="intro">
            <div class="container text-center">
                <h1 class="page title">Tell the World about your Professional Experience.</h1>
            </div><!--//container-->
        </div><!--//intro-->

    </header><!--//header-->

    <div class="wrapper container">
        {% block contents %}
            <section id="form-section" class="form section text-center">
            {% if request.user.is_authenticated %}
            <h2 class="section-title">Experience</h2>
            <script src="{% static 'plugins/jquery.min.js' %}"></script>
            <script src="{% static 'plugins/jquery.formset.js' %}"></script>
            <form method="post">
                {{ experience_form.management_form }}
                {% csrf_token %}
                {% for form in experience_form %}
                <div class="link-formset">
                    {{ form|crispy }}
                    <br>
                </div>
                {% endfor %}
                <script>
                    $('.link-formset').formset({
                        addText: 'Add Experience',
                        deleteText: 'Remove Experience'
                    });
                </script>
                <div>
                    <br><br>
                    <input type="submit", class="submit_button", name='submit_option', value="Done!"> | <input type="submit", class="submit_button", name='submit_option', value="Modify Project Info">
                </div>
            </form>
            {% else %}
            <h2 class="section-title">You are not signed in.</h2>
            <div>
                <a href="{% url 'signin' %}">Sign In</a> | <a href="{% url 'createuser' %}">Sign up</a> 
            </div>
            {% endif %}
            </section><!--//section-->
        {% endblock %}
    </div><!--//wrapper-->

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/easypiechart.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/renderer/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>

    <!-- custom js -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
